<h1 >Calculator</h1>
        <div class="row">
          <div class="col-9">
            <div class="container w-75">
              <div style="margin:10px;height:75px" >
                
                <h1 *ngIf='state.error'>{{state.error}}</h1>
                <h2 *ngIf='!state.error'>{{state.display1}}</h2>
                <h2 style="float: right" *ngIf='!state.error'>{{state.display2}}</h2>
              </div>

              <div class="first-row">
                <input
                  type="button"
                  name=""
                  value="Del"
                  class=" red small white-text top-margin"
                  (click)="handleDelete()"
                />
                <input
                  type="button"
                  name=""
                  value="Clear"
                  class=" red small white-text "
                  style="margin-top:4px" 
                  (click)="handleclear()"
                />
              </div>
              <div class="col-12">
                
              <div *ngFor="let btn of allVal">
                <input 
                type="button"
                name=""
                [value]="btn.val"
                class="global"
                (click)="btn.id==='operand'?handleOperand($event):handleOperator($event)"
              />
              </div>
               
              </div>
              <div>
                <div>
                  <input
                    type="button"
                    name=""
                    value="="
                    class="green small"
                    (click)="getFinalRes()"
                  />
                </div>
              </div>
            </div>
          </div>

          <div class="col-3">
            <h2>HISTORY:</h2><br/>
           
              <h4 *ngFor="let h of state.history">{{h}}</h4>
           
          </div>
         
        </div>